body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  /* background-color: black; */
}
.container {
  width: 320px;
  height: 320px;
  border: 1px solid white;
}
