.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  column-gap: 5px;
  /* background-color: rgb(75, 75, 75); */
}

.image {
  width: 200px;
}

.box-script-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 355px;
  border: 3px solid black;
  margin: 10px 100px;
  font-size: 70px;
  z-index: auto;
}
