.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  column-gap: 5px;
  /* background-color: rgb(75, 75, 75); */
}

.image {
  width: 200px;
}
.image-1::after {
  content: ".";
  width: 20px;
  height: 3px;
  background-color: red;
}
